---
layout: default
title: Blog
permalink: /blog/
---

<div class="home">
  <p class="subscribe">
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">Subscribe via RSS</a>
  </p>

  <h1 class="page-heading">Blog</h1>

  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          {{ post.title }}
        </a>
      </h2>
    </li>
    {% endfor %}
  </ul>
</div>
