<footer class="footer">
  <hr style="margin-top:1em" />
  <nav class="sitenav">
    <ul>
      {% for my_page in site.pages %} {% if my_page.title %} {% if my_page.url
      == page.url %}
      <li class="active">
        <strong>{{my_page.title}}</strong>
      </li>
      {% else %}
      <li>
        <a href="{{ my_page.url | prepend: site.baseurl }}">
          {{ my_page.title }}
        </a>
      </li>
      {% endif %} {% endif %} {% endfor %}
    </ul>
  </nav>
  <hr style="margin-bottom: 1em" />

  <small>
    &copy; Edgewater Fermentation Society. All Rights Reserved.
    <a
      href="https://gitlab.com/edgewaterfermentationsociety/edgewaterfermentationsociety.gitlab.io"
    >
      GitLab Repository
    </a>
  </small>
</footer>
