<header class="header">
  <img src="/images/EFS_Thumb.png" alt="Edgewater Fermentation Society Logo" />

  <a href="{{ site.baseurl }}/">{{ site.title }}</a>

  <blockquote>{{ site.description }}</blockquote>

  <hr class="clearfix" />
</header>
